.numbers {
    opacity: 1;
    color: gray;
    text-align: center;
    font-family: Andalé-Mono, monospace;
    margin-top: 200px;
    position: relative;
    z-index: 1;
    font-size: 200%;
}

.numbers2 {
    font-size: 24px;
}

.numberspic img {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 40%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-color: transparent;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    position: relative;
}